h1 {
  color: #68dcff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}


body {
  background-color: rgb(255, 240, 173);
}

h2 {
  margin-left: 200px;
}

p {
  margin-left: 200px;
}

ul {
  margin-left: 200px;
}



